@import "/src/app/variables.scss";

.header-store-navigation-menu {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    li {
      font-size: 15pt;
      a {
        color: $base-font-color;
      }
      .active-link {
        color: $active-navigation-link-font-color;
      }
    }
  }
}
